<div>
  <h2>Pokemon detail</h2>
  <p>{{pokemonName}}</p>
  <p>{{pokemonOrder}}</p>
  <img src="{{pokemonImg}}" alt="{{pokemonName}}">
  <h3>Abilities</h3>
  <ul>
    <ng-container *ngFor="let item of pokemonAbilities">
      <li>{{item.ability.name}}</li>
    </ng-container>
  </ul>

<!--  <h3>Stats</h3>-->
<!--  <ng-container *ngFor="let item of pokemon.stats">-->
<!--  <ul>-->
<!--      <li>{{item.stat.name}}</li>-->
<!--      <li>{{item.base_stat}}</li>-->
<!--      <li>{{item.effort}}</li>-->
<!--    </ul>-->
<!--  </ng-container>-->
<!--</div>-->
<!--<div>-->
<!--  <h3>Possible evolutions</h3>-->
<!--</div>-->
<!--<div>-->
<!--  <h3>Moves</h3>-->
<!--  <ul>-->
<!--    <ng-container *ngFor="let item of pokemon.moves">-->
<!--      <li>{{item.move.name}}</li>-->
<!--    </ng-container>-->
<!--  </ul>-->

</div>
