<div class="card-columns">
  <div class="card mb-3 bg-warning" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4 card-header">
        <img src="{{pokemonImg}}" class="card-img" alt="{{pokemonName}}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{pokemonName}}</h5>
          <p class="card-text">Order: {{pokemonOrder}}</p>
          <p class="card-text">Abilities:</p>
          <ul class="list-group list-group-horizontal" *ngFor="let item of pokemonAbilities">
            <li class="list-group-item list-group-item-primary">{{item.ability.name}}</li>
          </ul>
          <p class="card-text">Types:</p>
          <ul class="list-group list-group-horizontal" *ngFor="let item of pokemonTypes">
            <li class="list-group-item list-group-item-success">{{item.type.name}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">Stats</div>
    <div class="card-body" *ngFor="let item of pokemonStats">
      <ul>
        <li>
          <h5>{{item.stat.name}}</h5>
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width:25%" aria-valuenow="{{item.base_stat}}" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <h3>Possible evolutions</h3>
  </div>

  <div class="card bg-light mb-3">
    <div class="card-header">Moves</div>
    <div class="card-body move-names">
        <ul class="list-group list-group-horizontal" *ngFor="let item of pokemonMoves">
          <li class="list-group-item">{{item.move.name}}</li>
        </ul>
    </div>
  </div>
</div>



